body {
  background-color: dodgerblue;
  font-family: Georgia, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin: 0;
  /*Se le da color, font, tamaño de letra una altura de linea y un margen de 0 al body*/
}

h1 {
  font-size: 2em;
  line-height: 1.3em;
  /* Se le da un ancho doble a la fuente del h1 */
}

nav {
  display: flex;
  margin: 0;
  position: fixed;
  width: 99.5%;
  background-color: rgba(5, 23, 29, 0.3);
  border: 2px solid white;
  border-radius: 10px;
  /* Se le da forma al nav y se pone fijo */
}

.flex-container {
  padding: 3rem;
  display: flex;
  align-items: center;
  /* Se le da un padding de separacióna los flex-contaiber*/
}

.flex-item {
  flex: 0 0 50%;
}

.flex-row-reverse {
  flex-direction: row-reverse;
  /* Se invierte el parrafo del medio */
}

.header-fix {
  background: #08a6f0;
  color: white;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* Se le da forma al header y se pone como fijo */
}

.hero-image {
  min-height: 100vh;
  background: url("https://placeimg.com/1200/500/nature") no-repeat center;
  background-size: contain;
  color: white;
  /* Se pone imagen al hero-image*/
}

.hero-image div {
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(5, 23, 29, 0.75);

  /* Se aplica una sombra al texto con un border-radius */
}

.logo {
  padding: 1rem;
  letter-spacing: 10px;
  font-size: 1.4em;
  /* Se aplica forma al logo con un espaciado dy un ancho */
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* Se justifica el nav, se agrupa y se envuelve */
}

.menu a {
  text-decoration: none;
  /* Se le quita decoracion al texto del nav */
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* Se quitan estilos que tienen por defecto */
}

.menu ul li {
  display: inline-block;
  /* Se ponen en bloque las etiquetas li del menu*/
}

.menu ul li a {
  color: white;
  display: blok;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 10px;
  font-style: italic;
  /* SE aplica un boreder-radius con transition en el menu*/
}

.menu ul li a:hover {
  background-color: rgba(23, 148, 231, 0.3);
  /* Se le aplica un hover al menu */
}
