@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Pacifico");
body {
  background-color: #167bee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  line-height: 1.4em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #f1f1f1;
}

/* + Encabezado + */
.banner {
  text-align: center;
  margin: 20px auto;
  padding: 0;
  /*  background: rgba($color: #000000, $alpha: 0.3); */
}
.banner h1 {
  font-size: 3rem;
  line-height: 1.5em;
  font-weight: 500;
  margin: 0px auto;
  color: #f1f1f1;
  font-family: "Pacifico";
  font-style: italic;
}

/* Nav Pegajozo */
.header {
  /* + se aplica un sticky al header + */
  background: #333;
  color: #f1f1f1;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  /* Se agrega titulo al nav responcivo */
  /* Justifica el contenido del nav */
}
.header .container {
  max-width: 90%;
  margin: 0 auto;
  /* + Se le da forma al nav y estilos + */
}
.header .container .navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header .container .navigation ul li {
  display: inline-block;
}
.header .container .navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
}
.header .container .navigation ul li a:hover {
  background: #4a4a4a;
}
.header h3 {
  display: none;
  font-family: "Pacifico";
  font-style: italic;
}
.header .logo-nav-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header a {
  color: #f1f1f1;
  text-decoration: none;
  padding: 2rem 0;
}

.menu-icon {
  display: none;
}

.hero-image {
  min-height: 70vh;
  min-width: 100%;
  background: url("../imagenes/drops-of-water-578897_1280.jpg") no-repeat center;
  background-size: cover;
  color: #f1f1f1;
  /* Se pone imagen al hero-image*/
}
.hero-image div {
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(5, 23, 29, 0.75);
  /* Se aplica una sombra al texto con un border-radius */
}
.hero-image h1 {
  font-size: 3.5vw;
  font-weight: 700;
  letter-spacing: 0.2vw;
}
.hero-image h1 i {
  font-family: "Pacifico";
}

.flex-container {
  padding: 3rem;
  display: flex;
  align-items: center;
  align-content: center;
  /* Se le da un padding de separacióna los flex-contaiber*/
}
.flex-container .flex-item {
  flex: 0 0 50%;
  padding: 0.5em;
  text-align: justify;
  margin-top: 1rem;
}
.flex-container .flex-item h2 {
  text-align: center;
}
.flex-container .flex-item .whatsapp img {
  width: 3rem;
}
.flex-container p {
  margin-inline-end: 1em;
}

.flex-row-reverse {
  flex-direction: row-reverse;
  justify-content: center;
  background-color: rgba(39, 39, 39, 0.8);
  /* Se invierte el parrafo del medio */
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  background: #222;
  padding: 40px;
  margin: 20px auto;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.contenedor h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
  color: #00c6ee;
}

.contenido {
  display: flex;
  width: 100%;
  overflow: hidden;
  /* flex-wrap: wrap; */
}
.contenido .info,
.contenido .formulario {
  width: 50%;
}

/* *************************************
Estilos info
**************************************** */
.info {
  padding-left: 10px;
}
.info .col {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  font-size: 16px;
  align-items: center;
  flex-wrap: nowrap;
}
.info .col .icono {
  color: #00c6ee;
  margin-right: 10px;
}
.info .col p {
  color: #999;
}
.info .redes-s {
  width: 100%;
  overflow: hidden;
  padding-left: 25px;
  display: flex;
  flex-wrap: wrap;
}
.info .redes-s a {
  display: flex;
  width: 40px;
  height: 40px;
  background: #00c6ee;
  color: #fff;
  margin: 5px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px rgba(165, 163, 163, 0.4);
}
.info .redes-s a:hover {
  box-shadow: 0px 3px 8px rgba(1, 1, 1, 0.4);
  background: #222;
}

/* ***********************************************
Estilos formulario
**************************************************/
.formulario {
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
.formulario input[type=text],
.formulario textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px 20px;
  border: thin solid #999;
  color: #999;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  outline: 0;
}
.formulario textarea {
  max-width: 100%;
  min-width: 94%;
  min-height: 150px;
  max-height: 200px;
}
.formulario input[type=text]:focus,
.formulario textarea:focus {
  border: 1px solid #00c6ee;
}
.formulario button {
  padding: 12px 30px;
  border: transparent;
  background: #00c6ee;
  color: #fff;
  cursor: pointer;
}

footer {
  width: 100%;
  font-family: Raleway;
}

.footer-container {
  width: 100%;
  background: #272727;
  color: #fff;
}
.footer-container .footer-main {
  width: 98%;
  max-width: 1000px;
  margin: auto;
  padding: 40px 0;
  display: flex;
}
.footer-container .footer-main .footer-columna {
  width: calc(100% / 2);
  text-align: justify;
  font-size: 1rem;
}
.footer-container .footer-main .footer-columna h3 {
  font-size: 32px;
  color: #00c6ee;
  margin-bottom: 20px;
}
.footer-container .footer-main .footer-columna span p {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 15px;
  font-family: Raleway;
}

.footer-main .footer-columna:nth-child(2) {
  padding: 0 20px;
}

.footer-copy-redes {
  width: 100%;
  background: #000;
  border-top: 3px solid #fff;
}
.footer-copy-redes .main-copy-redes {
  width: 98%;
  max-width: 1000px;
  padding: 15px 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.footer-copy-redes .main-copy-redes .footer-copy {
  width: 70%;
  color: #fff;
}
.footer-copy-redes .main-copy-redes .footer-copy .font {
  font-family: "Pacifico";
}
.footer-copy-redes .main-copy-redes .footer-redes {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 750px) {
  .info-main {
    padding: 30px 100px;
  }

  .footer-main .footer-columna {
    padding: 0 10px;
  }

  .footer-main .footer-columna h3 {
    font-size: 28px;
  }

  .footer-main .footer-columna p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 75em) {
  .flex-container img {
    max-width: 100%;
  }
}
@media screen and (max-width: 48em) {
  .banner {
    margin: 0 auto;
  }
  .banner h1 {
    display: none;
  }

  .header {
    position: fixed;
  }
  .header h3 {
    display: flex;
    color: #b1def8;
    font-size: 1.2rem;
  }
  .header .navigation {
    width: 100%;
  }
  .header .navigation ul {
    display: none;
  }
  .header .navigation ul li {
    display: block;
  }
  .header .navigation ul li a {
    display: block;
    padding: 0.5rem 0;
    transition: all 0.4s linear;
    border-radius: 5px;
  }
  .header .navigation ul li a:hover {
    background: #4a4a4a;
  }
  .header .navigation ul.show {
    display: flex;
    flex-direction: column;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    border-style: outset;
    border-radius: 5px;
    font-size: small;
  }

  /* Nav Responsivo */
  .hero-image {
    min-height: 50vh;
    min-width: auto;
  }

  .flex-container {
    padding: 0;
    display: block;
    flex-wrap: wrap;
    /* text-align: center; */
  }
  .flex-container img {
    max-width: 100%;
    /* padding: 0.5rem; */
  }
  .flex-container h2 {
    text-align: center;
  }

  .contenedor {
    padding: 40px 20px;
  }
  .contenedor .contenido {
    display: flex;
    flex-wrap: wrap;
  }

  .contenido .info,
.contenido .formulario {
    width: 100%;
    padding: 0;
  }

  .contenido .info {
    margin-bottom: 30px;
  }

  .footer-main {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-main .footer-columna {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
  .footer-main .footer-columna h3 {
    margin-bottom: 5px;
    text-align: center;
  }
  .footer-main .footer-columna span {
    display: block;
    text-align: center;
  }

  .main-copy-redes .footer-copy {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .main-copy-redes .footer-redes {
    width: 80%;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
