footer {
  width: 100%;
  font-family: Raleway;
}

.footer-container {
  width: 100%;
  background: #272727;
  color: #fff;
  .footer-main {
    width: 98%;
    max-width: 1000px;
    margin: auto;
    padding: 40px 0;
    display: flex;
    .footer-columna {
      width: calc(100% / 2);
      text-align: justify;
      font-size: 1rem;
    }
    .footer-columna {
      h3 {
        font-size: 32px;
        color: #00c6ee;
        margin-bottom: 20px;
      }
      span {
        p {
          display: inline-block;
          margin-left: 5px;
          margin-bottom: 15px;
          font-family: Raleway;
        }
      }
    }
  }
}

.footer-main .footer-columna:nth-child(2) {
  padding: 0 20px;
}

.footer-copy-redes {
  width: 100%;
  background: #000;
  border-top: 3px solid #fff;
  .main-copy-redes {
    width: 98%;
    max-width: 1000px;
    padding: 15px 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    .footer-copy {
      width: 70%;
      color: #fff;
    }
    .footer-redes {
      width: 30%;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 750px) {
  .info-main {
    padding: 30px 100px;
  }

  .footer-main .footer-columna {
    padding: 0 10px;
  }

  .footer-main .footer-columna h3 {
    font-size: 28px;
  }

  .footer-main .footer-columna p {
    font-size: 1rem;
  }
}
