.header-fix {
  background: #08a6f0;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* Se le da forma al header y se pone como fijo */
  .logo {
    padding: 1.5rem;
    letter-spacing: 10px;
    font-size: 2em;
    /* Se aplica forma al logo con un espaciado dy un ancho */
  }
}

.menu {
  display: $dflex;
  margin: 0;
  position: fixed;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 99.5%;
  background-color: rgba(5, 23, 29, 0.6);
  border: 2px solid white;
  border-radius: 10px;
  /* Se le da forma al nav y se pone fijo */
  .im-logo {
    width: 4rem;
    height: 3.5rem;
    text-indent: 99999px;
    background: transparent url("../imagenes/gota.png") no-repeat left;
    background-size: contain;
    /* se inserta el logo */
  }
}

.navbar-links {
  display: $dflex;
  align-items: center;
  flex-wrap: wrap;
  /* Se justifica el nav, se agrupa y se envuelve */
}
ul {
  display: $dflex;
  margin: 0;
  padding: 0;
  /* Se quitan estilos que tienen por defecto */
}
li {
  list-style: none;
  /* Se ponen en bloque las etiquetas li del menu*/
  a {
    color: $colfont;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 10px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    /* SE aplica un boreder-radius con transition en el menu*/
  }
  a:hover {
    background-color: rgba(23, 148, 231, 0.3);
    /* Se le aplica un hover al menu */
  }
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
}
