.hero-image {
  min-height: 90vh;
  min-width: 100%;
  background: url("../imagenes/drops-of-water-578897_1280.jpg") no-repeat center;
  background-size: cover;
  color: $colfont;

  /* Se pone imagen al hero-image*/
  div {
    min-height: inherit;
    display: $dflex;
    justify-content: center;
    align-items: center;
    background-color: rgba(5, 23, 29, 0.75);

    /* Se aplica una sombra al texto con un border-radius */
  }
  h1 {
    $fontz: 4vw;
    font-size: $fontz;
    font-weight: 900;
    letter-spacing: 0.4vw;
  }
}
